@import "tailwindcss";

@source "../node_modules/preline/dist/*.js";
@import "../node_modules/preline/variants.css";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --Utilities-Spacing-5: 20px;
  --Utilities-Spacing-7_5: 30px;
  --Utilities-Spacing-20: 80px;
  --Utilities-Spacing-15: 60px;
}
body {
  background: #f8f8f8;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}